 .bgimg4{
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqQARqRhY7jN8esZYuyMZDEXvd40xrXUH8PTD0XD4v&s');
	height:200vh;
	background-size: cover;
}
.headfirst{
	color: white;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    padding: 25px;
}
.bgcarouselcard{
   background-color: white;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin: 100px;
   margin-top: 15px;

}
.cardcon {
   padding: 20px;
}
.headsecond {
	color: black;
	font-family: 'Roboto';
	font-size: 20px;
    font-weight: bold;
}
.paraline{
	color: #292727;
	font-family:'Roboto';
	font-size: 13px;
}
